# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
venv311/

# Environment files (secrets)
.flaskenv
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*_accessKeys.csv

logs.txt