body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fafc;
  text-align: center;
  margin: 50px;
}
a {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  background: #0d6efd;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
a:hover { background: #0a58ca; }

.results-box{
  display: grid;
  place-items: center;
  height: 200px;
  border: 3px solid green;

}
